{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">This is header</h1>
      <ul class="header__routes-wrapper">
        <li><a href="{% url 'website:language' %}">languages</a></li>
        <li><a href="{% url 'website:education' %}">education</a></li>
        <li><a href="{% url 'website:skills' %}">skills</a></li>
        <li><a href="{% url 'website:project' %}">projects</a></li>
        <li>
          <a href="{% url 'website:personal-information' %}"
            >personal information</a
          >
        </li>
      </ul>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>This is footer</footer>
  </body>
</html>
